# Setup

## Download the MovieLens dataset

In [5]:
import requests
import zipfile
import os

# Step 0: Navigate to the data folder
## a): Change working directory to "Movie-Recommendation-Engine"
current_directory = os.getcwd()
parent_directory = os.path.abspath(os.path.join(current_directory, '..'))
os.chdir(parent_directory)

## b): Validate that we're actually in the correct working directory
current_directory = os.getcwd()
expected_directory = 'Movie-Recommendation-Engine'
if not current_directory.endswith(expected_directory):
    raise FileNotFoundError(f"You are not in the '{expected_directory}' directory. Please navigate to the correct directory and try again.")

# Step I: Download the ZIP file
## Small dataset (for discovery and development)
url_small = 'https://files.grouplens.org/datasets/movielens/ml-latest-small.zip'
response = requests.get(url_small)

## Large dataset
# url_large = 'https://files.grouplens.org/datasets/movielens/ml-32m.zip' ## Large version
# response = requests.get(url_large)

# Step II: Save it as a zip file in the data directory
## Small dataset
zip_file_path = './raw_data/ml-latest-small.zip'
with open(zip_file_path, 'wb') as file:
    file.write(response.content)

## Large dataset
#zip_file_path = '/data/ml-32m.zip'
#with open(zip_file_path, 'wb') as file:
    #file.write(response.content)
    

# Step III: Unzip the file
extract_path = './raw_data/'
with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extract_path)

# Step IV: Verify the files
## a) Print data main directory content
extracted_files = os.listdir(extract_path)
print(f'Data main directory content: {extracted_files}')
## b) Print unzipped dataset directory content
data_folder_path = os.path.join(extract_path, 'ml-latest-small') ## Change this for large dataset
files_in_data_folder = os.listdir(data_folder_path)
print(f'Unzipped dataset directory content: {files_in_data_folder}')

Data main directory content: ['movies_new_df.csv:Zone.Identifier', 'movies_new_df.csv', 'ratings_new_df.csv', 'ratings_new_df.csv:Zone.Identifier', 'ml-latest-small.zip', 'ml-latest-small']
Unzipped dataset directory content: ['links.csv', 'ratings.csv', 'README.txt', 'tags.csv', 'movies.csv']

## Load the dataset

In [6]:
import pandas as pd

In [7]:
# Load each CSV file into a DataFrame
links_df = pd.read_csv(os.path.join(data_folder_path, 'links.csv'))
ratings_df = pd.read_csv(os.path.join(data_folder_path, 'ratings.csv'))
tags_df = pd.read_csv(os.path.join(data_folder_path, 'tags.csv'))
movies_df = pd.read_csv(os.path.join(data_folder_path, 'movies.csv'))

### Ratings

In [8]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [9]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100836 entries, 0 to 100835
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   userId     100836 non-null  int64
 1   movieId    100836 non-null  int64
 2   rating     100836 non-null  float64
 3   timestamp  100836 non-null  int64
dtypes: float64(1), int64(3)
memory usage: 3.1 MB

### Movies

In [10]:
movies_df.head(50)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller
20,21,Get Shorty (1995),Comedy|Crime|Thriller
21,22,Copycat (1995),Crime|Drama|Horror|Mystery|Thriller
22,23,Assassins (1995),Action|Crime|Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Children|Drama
27,28,Persuasion (1995),Drama|Romance
28,29,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Crime|Drama
30,31,Dangerous Minds (1995),Drama
31,32,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
32,34,Babe (1995),Children|Drama
33,36,Dead Man Walking (1995),Crime|Drama
34,38,It Takes Two (1995),Children|Comedy
35,39,Clueless (1995),Comedy|Romance
36,40,"Cry, the Beloved Country (1995)",Drama
37,41,Richard III (1995),Drama|War
38,42,Dead Presidents (1995),Action|Crime|Drama
39,43,Restoration (1995),Drama
40,44,Mortal Kombat (1995),Action|Adventure|Fantasy
41,45,To Die For (1995),Comedy|Drama|Thriller
42,46,How to Make an American Quilt (1995),Drama|Romance
43,47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
44,48,Pocahontas (1995),Animation|Children|Drama|Musical|Romance
45,49,When Night Is Falling (1995),Drama|Romance
46,50,"Usual Suspects, The (1995)",Crime|Mystery|Thriller
47,52,Mighty Aphrodite (1995),Comedy|Drama|Romance
48,53,Lamerica (1994),Adventure|Drama
49,54,"Big Green, The (1995)",Children|Comedy

In [7]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   title    9742 non-null   object
 2   genres   9742 non-null   object
dtypes: int64(1), object(2)
memory usage: 228.5+ KB

### Links

In [8]:
links_df.head()

   movieId  imdbId   tmdbId
0        1  114709    862.0
1        2  113497   8844.0
2        3  113228  15602.0
3        4  114885  31357.0
4        5  113041  11862.0

In [9]:
links_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9742 entries, 0 to 9741
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  9742 non-null   int64
 1   imdbId   9742 non-null   int64
 2   tmdbId   9734 non-null   float64
dtypes: float64(1), int64(2)
memory usage: 228.5 KB

In [5]:
links_df

      movieId   imdbId    tmdbId
0           1   114709     862.0
1           2   113497    8844.0
2           3   113228   15602.0
3           4   114885   31357.0
4           5   113041   11862.0
...       ...      ...       ...
9737   193581  5476944  432131.0
9738   193583  5914996  445030.0
9739   193585  6397426  479308.0
9740   193587  8391976  483455.0
9741   193609   101726   37891.0

[9742 rows x 3 columns]