# Modules

In [2]:
import numpy as np
import pandas as pd

In [3]:
import os
import pprint
import tempfile

In [4]:
import tensorflow as tf
import tensorflow_datasets as tfds
import tensorflow_recommenders as tfrs
from tensorflow.keras import layers

2024-09-09 17:48:07.871567: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-09 17:48:08.192339: E external/local_xla/xla/stream_executor/cuda/cuda_dnn.cc:9261] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
2024-09-09 17:48:08.192447: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:607] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
2024-09-09 17:48:08.240145: E external/local_xla/xla/stream_executor/cuda/cuda_blas.cc:1515] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2024-09-09 17:48:08.255711: I external/local_tsl/tsl/cuda/cudart_stub.cc:31] Could not find cuda drivers on your machine, GPU will not be used.
2024-09-09 17:48:08.256858: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2024-09-09 17:48:09.846046: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
/home/marcel/.pyenv/versions/3.10.6/envs/Movie-Recommendation-Engine/lib/python3.10/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [7]:
from typing import Dict, Text

In [6]:
from datetime import datetime
import re

# Data

In [8]:
# Ratings data.
ratings = tfds.load("movielens/100k-ratings", split="train")
# Features of all the available movies.
movies = tfds.load("movielens/100k-movies", split="train")

2024-09-09 17:48:14.280176: I external/local_xla/xla/stream_executor/cuda/cuda_executor.cc:887] could not open file to read NUMA node: /sys/bus/pci/devices/0000:01:00.0/numa_node
Your kernel may have been built without NUMA support.
2024-09-09 17:48:14.280644: W tensorflow/core/common_runtime/gpu/gpu_device.cc:2256] Cannot dlopen some GPU libraries. Please make sure the missing libraries mentioned above are installed properly if you would like to use GPU. Follow the guide at https://www.tensorflow.org/install/gpu for how to download and setup the required libraries for your platform.
Skipping registering GPU devices...

In [9]:
ratings_df = tfds.as_dataframe(ratings)
movies_df = tfds.as_dataframe(movies)

In [14]:
ratings_df.head(5)

,bucketized_user_age,movie_genres,movie_id,movie_title,raw_user_age,timestamp,user_gender,user_id,user_occupation_label,user_occupation_text,user_rating,user_zip_code
0,45.0,[7],b'357',"b""One Flew Over the Cuckoo's Nest (1975)""",46.0,879024327,True,b'138',4,b'doctor',4.0,b'53211'
1,25.0,"[4, 14]",b'709',b'Strictly Ballroom (1992)',32.0,875654590,True,b'92',5,b'entertainment',2.0,b'80525'
2,18.0,[4],b'412',"b'Very Brady Sequel, A (1996)'",24.0,882075110,True,b'301',17,b'student',4.0,b'55439'
3,50.0,"[5, 7]",b'56',b'Pulp Fiction (1994)',50.0,883326919,True,b'60',4,b'healthcare',4.0,b'06472'
4,50.0,"[10, 16]",b'895',b'Scream 2 (1997)',55.0,891409199,True,b'197',18,b'technician',3.0,b'75094'

In [16]:
user_id=str(933)

# Filter the dataset for user_id = '123'
filtered_ratings = ratings.filter(lambda x: x['user_id'] == tf.constant(user_id))

# Iterate through the filtered dataset to access the records
for record in filtered_ratings:
    movie_title = record['movie_title'].numpy().decode('utf-8')
    user_genre = record['movie_genres'].numpy()
    print(f"Movie: {movie_title}, Genre: {user_genre}")

Movie: Birdcage, The (1996), Genre: [4]
Movie: Braveheart (1995), Genre: [ 0  7 18]
Movie: Return of the Pink Panther, The (1974), Genre: [4]
Movie: Three Musketeers, The (1993), Genre: [0 1 4]
Movie: Romeo Is Bleeding (1993), Genre: [ 5 16]
Movie: Grease 2 (1982), Genre: [ 4 12 14]
Movie: Natural Born Killers (1994), Genre: [ 0 16]
Movie: Clockwork Orange, A (1971), Genre: [15]
Movie: City Slickers II: The Legend of Curly's Gold (1994), Genre: [ 4 19]
Movie: Star Wars (1977), Genre: [ 0  1 14 15 18]
Movie: Sting, The (1973), Genre: [4 5]
Movie: Fargo (1996), Genre: [ 5  7 16]
Movie: Star Trek: The Wrath of Khan (1982), Genre: [ 0  1 15]
Movie: Mulholland Falls (1996), Genre: [ 5  9 16]
Movie: Star Trek IV: The Voyage Home (1986), Genre: [ 0  1 15]
Movie: One Flew Over the Cuckoo's Nest (1975), Genre: [7]
Movie: Aliens (1986), Genre: [ 0 15 16 18]
Movie: Pulp Fiction (1994), Genre: [5 7]
Movie: Tombstone (1993), Genre: [19]
Movie: Silence of the Lambs, The (1991), Genre: [ 7 16]
Movie: Under Siege 2: Dark Territory (1995), Genre: [0]
Movie: Toy Story (1995), Genre: [2 3 4]
Movie: Broken Arrow (1996), Genre: [ 0 16]
Movie: Godfather: Part II, The (1974), Genre: [0 5 7]
Movie: Monty Python's Life of Brian (1979), Genre: [4]
Movie: Die Hard 2 (1990), Genre: [ 0 16]
Movie: Madness of King George, The (1994), Genre: [7]
Movie: Interview with the Vampire (1994), Genre: [ 7 10]
Movie: Star Trek VI: The Undiscovered Country (1991), Genre: [ 0  1 15]
Movie: Operation Dumbo Drop (1995), Genre: [ 0  1  4 18]
Movie: Hunt for Red October, The (1990), Genre: [ 0 16]
Movie: Dave (1993), Genre: [ 4 14]
Movie: Field of Dreams (1989), Genre: [7]
Movie: Casablanca (1942), Genre: [ 7 14 18]
Movie: This Is Spinal Tap (1984), Genre: [ 4  7 12]
Movie: Jaws (1975), Genre: [ 0 10]
Movie: Star Trek: First Contact (1996), Genre: [ 0  1 15]
Movie: Alien 3 (1992), Genre: [ 0 10 15 16]
Movie: Mrs. Doubtfire (1993), Genre: [4]
Movie: Jurassic Park (1993), Genre: [ 0  1 15]
Movie: Butch Cassidy and the Sundance Kid (1969), Genre: [ 0  4 19]
Movie: Right Stuff, The (1983), Genre: [7]
Movie: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963), Genre: [15 18]
Movie: Airheads (1994), Genre: [4]
Movie: Escape from New York (1981), Genre: [ 0  1 15 16]
Movie: Maverick (1994), Genre: [ 0  4 19]
Movie: Manon of the Spring (Manon des sources) (1986), Genre: [7]
Movie: Aladdin (1992), Genre: [ 2  3  4 12]
Movie: Cape Fear (1991), Genre: [16]
Movie: Godfather, The (1972), Genre: [0 5 7]
Movie: Mask, The (1994), Genre: [4 5 8]
Movie: Young Guns II (1990), Genre: [ 0  4 19]
Movie: Living in Oblivion (1995), Genre: [4]
Movie: Mary Shelley's Frankenstein (1994), Genre: [ 7 10]
Movie: Boot, Das (1981), Genre: [ 0  7 18]
Movie: Willy Wonka and the Chocolate Factory (1971), Genre: [1 3 4]
Movie: Nightmare on Elm Street, A (1984), Genre: [10]
Movie: Seven (Se7en) (1995), Genre: [ 5 16]
Movie: Apocalypse Now (1979), Genre: [ 7 18]
Movie: Batman (1989), Genre: [0 1 5 7]
Movie: People vs. Larry Flynt, The (1996), Genre: [7]
Movie: Philadelphia (1993), Genre: [7]
Movie: When Harry Met Sally... (1989), Genre: [ 4 14]
Movie: Dances with Wolves (1990), Genre: [ 1  7 19]
Movie: Heat (1995), Genre: [ 0  5 16]
Movie: Back to the Future (1985), Genre: [ 4 15]
Movie: Princess Bride, The (1987), Genre: [ 0  1  4 14]
Movie: Tin Cup (1996), Genre: [ 4 14]
Movie: Ace Ventura: Pet Detective (1994), Genre: [4]
Movie: Children of the Corn: The Gathering (1996), Genre: [10]
Movie: Trainspotting (1996), Genre: [7]
Movie: Heathers (1989), Genre: [4]
Movie: Made in America (1993), Genre: [4]
Movie: Shining, The (1980), Genre: [10]
Movie: Alien (1979), Genre: [ 0 10 15 16]
Movie: Bushwhacked (1995), Genre: [4]
Movie: Robin Hood: Prince of Thieves (1991), Genre: [7]
Movie: Muppet Treasure Island (1996), Genre: [ 0  1  4 12 16]
Movie: Wizard of Oz, The (1939), Genre: [ 1  3  7 12]
Movie: Star Trek: The Motion Picture (1979), Genre: [ 0  1 15]
Movie: GoodFellas (1990), Genre: [5 7]
Movie: Pink Floyd - The Wall (1982), Genre: [ 7 12 18]
Movie: Searching for Bobby Fischer (1993), Genre: [7]
Movie: Jaws 2 (1978), Genre: [ 0 10]
Movie: Platoon (1986), Genre: [ 7 18]
Movie: Twelve Monkeys (1995), Genre: [ 7 15]
Movie: Amityville Horror, The (1979), Genre: [10]
Movie: Batman Returns (1992), Genre: [0 1 4 5]
Movie: Die Hard (1988), Genre: [ 0 16]
Movie: Dead Poets Society (1989), Genre: [7]
Movie: Reservoir Dogs (1992), Genre: [ 5 16]
Movie: Home Alone (1990), Genre: [3 4]
Movie: Fish Called Wanda, A (1988), Genre: [4]
Movie: Sleepless in Seattle (1993), Genre: [ 4 14]
Movie: Stargate (1994), Genre: [ 0  1 15]
Movie: Michael (1996), Genre: [ 4 14]
Movie: Son in Law (1993), Genre: [4]
Movie: True Lies (1994), Genre: [ 0  1  4 14]
Movie: Raiders of the Lost Ark (1981), Genre: [0 1]
Movie: Boomerang (1992), Genre: [ 4 14]
Movie: Cliffhanger (1993), Genre: [0 1 5]
Movie: Santa Clause, The (1994), Genre: [3 4]
Movie: Grease (1978), Genre: [ 4 12 14]
Movie: Cowboy Way, The (1994), Genre: [0 4]
Movie: Dazed and Confused (1993), Genre: [4]
Movie: Quiz Show (1994), Genre: [7]
Movie: Top Gun (1986), Genre: [ 0 14]
Movie: 2001: A Space Odyssey (1968), Genre: [ 7 13 15 16]
Movie: Clueless (1995), Genre: [4]
Movie: Kingpin (1996), Genre: [4]
Movie: Real Genius (1985), Genre: [4]
Movie: Fugitive, The (1993), Genre: [ 0 16]
Movie: Blues Brothers, The (1980), Genre: [ 0  4 12]
Movie: Abyss, The (1989), Genre: [ 0  1 15 16]
Movie: Four Weddings and a Funeral (1994), Genre: [ 4 14]
Movie: Tank Girl (1995), Genre: [ 0  4 12 15]
Movie: Schindler's List (1993), Genre: [ 7 18]
Movie: Usual Suspects, The (1995), Genre: [ 5 16]
Movie: Courage Under Fire (1996), Genre: [ 7 18]
Movie: Monty Python and the Holy Grail (1974), Genre: [4]
Movie: Indiana Jones and the Last Crusade (1989), Genre: [0 1]
Movie: Chinatown (1974), Genre: [ 9 13 16]
Movie: Halloween: The Curse of Michael Myers (1995), Genre: [10 16]
Movie: Under Siege (1992), Genre: [0]
Movie: Conan the Barbarian (1981), Genre: [0 1]
Movie: Raising Arizona (1987), Genre: [4]
Movie: Coneheads (1993), Genre: [ 4 15]
Movie: Last Man Standing (1996), Genre: [ 0  7 19]
Movie: Die Hard: With a Vengeance (1995), Genre: [ 0 16]
Movie: Cool Hand Luke (1967), Genre: [4 7]
Movie: Happy Gilmore (1996), Genre: [4]
Movie: Young Guns (1988), Genre: [ 0  4 19]
Movie: Clerks (1994), Genre: [4]
Movie: Swimming with Sharks (1995), Genre: [4 7]
Movie: Apollo 13 (1995), Genre: [ 0  7 16]
Movie: M*A*S*H (1970), Genre: [ 4 18]
Movie: Sneakers (1992), Genre: [ 5  7 15]
Movie: Basic Instinct (1992), Genre: [13 16]
Movie: Strange Days (1995), Genre: [ 0  5 15]
Movie: Jaws 3-D (1983), Genre: [ 0 10]
Movie: Bronx Tale, A (1993), Genre: [7]
Movie: Empire Strikes Back, The (1980), Genre: [ 0  1  7 14 15 18]
Movie: Get Shorty (1995), Genre: [0 4 7]
Movie: Last Action Hero (1993), Genre: [0 4]
Movie: Independence Day (ID4) (1996), Genre: [ 0 15 18]
Movie: Groundhog Day (1993), Genre: [ 4 14]
Movie: Naked Gun 33 1/3: The Final Insult (1994), Genre: [4]
Movie: Mission: Impossible (1996), Genre: [ 0  1 13]
Movie: Forrest Gump (1994), Genre: [ 4 14 18]
Movie: Nutty Professor, The (1996), Genre: [ 4  8 14 15]
Movie: Army of Darkness (1993), Genre: [ 0  1  4 10 15]
Movie: Hot Shots! Part Deux (1993), Genre: [ 0  4 18]
Movie: Sgt. Bilko (1996), Genre: [4]
Movie: Speed (1994), Genre: [ 0 14 16]
Movie: Dead Man Walking (1995), Genre: [7]
Movie: Good, The Bad and The Ugly, The (1966), Genre: [ 0 19]
Movie: Eraser (1996), Genre: [ 0 16]
Movie: Shawshank Redemption, The (1994), Genre: [7]
Movie: Terminator 2: Judgment Day (1991), Genre: [ 0 15 16]
Movie: First Wives Club, The (1996), Genre: [4]
Movie: Terminator, The (1984), Genre: [ 0 15 16]
Movie: Star Trek III: The Search for Spock (1984), Genre: [ 0  1 15]
Movie: Time to Kill, A (1996), Genre: [7]
Movie: Net, The (1995), Genre: [15 16]
Movie: Trees Lounge (1996), Genre: [7]
Movie: Phenomenon (1996), Genre: [ 7 14]
Movie: Better Off Dead... (1985), Genre: [4]
Movie: Return of the Jedi (1983), Genre: [ 0  1 14 15 18]
Movie: Demolition Man (1993), Genre: [ 0 15]
Movie: Beverly Hills Cop III (1994), Genre: [0 4]
Movie: Last of the Mohicans, The (1992), Genre: [ 0 14 18]
Movie: Glory (1989), Genre: [ 0  7 18]
Movie: Private Benjamin (1980), Genre: [4]
Movie: Grumpier Old Men (1995), Genre: [ 4 14]
Movie: Carrie (1976), Genre: [10]
Movie: Preacher's Wife, The (1996), Genre: [7]
Movie: Glengarry Glen Ross (1992), Genre: [7]
Movie: Wolf (1994), Genre: [ 7 10]

Movie: Blade Runner (1982), Genre: [ 9 15]
Movie: Rosencrantz and Guildenstern Are Dead (1990), Genre: [4 7]
Movie: In the Name of the Father (1993), Genre: [7]
Movie: Rock, The (1996), Genre: [ 0  1 16]
Movie: Man Without a Face, The (1993), Genre: [7]
Movie: Brazil (1985), Genre: [15]

In [8]:
ratings = ratings.map(lambda x: {
    "movie_title": x["movie_title"],
    "user_id": x["user_id"],
    "user_ratings": float(x["user_rating"])
})
movies = movies.map(lambda x: x["movie_title"])

# Model

In [41]:
print('Total Data: {}'.format(len(ratings)))

tf.random.set_seed(42)

train = ratings.take(80_000)
test = ratings.skip(80_000).take(20_000)

Total Data: 100000

In [81]:
train

<_TakeDataset element_spec={'movie_title': TensorSpec(shape=(), dtype=tf.string, name=None), 'user_id': TensorSpec(shape=(), dtype=tf.string, name=None), 'user_ratings': TensorSpec(shape=(), dtype=tf.float32, name=None)}>

In [42]:
movie_titles = movies.batch(1_000)
user_ids = ratings.batch(1_000).map(lambda x: x["user_id"])

In [43]:
unique_movie_titles = np.unique(np.concatenate(list(movie_titles)))
unique_user_ids = np.unique(np.concatenate(list(user_ids)))

In [44]:
class MovieModel(tfrs.models.Model):

  def __init__(self, rating_weight: float, retrieval_weight: float) -> None:
    # We take the loss weights in the constructor: this allows us to instantiate
    # several model objects with different loss weights.

    super().__init__()

    embedding_dimension = 64

    # User and movie models.
    self.movie_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(
        vocabulary=unique_movie_titles, mask_token=None),
      tf.keras.layers.Embedding(len(unique_movie_titles) + 1, embedding_dimension)
    ])
    self.user_model: tf.keras.layers.Layer = tf.keras.Sequential([
      tf.keras.layers.StringLookup(
        vocabulary=unique_user_ids, mask_token=None),
      tf.keras.layers.Embedding(len(unique_user_ids) + 1, embedding_dimension)
    ])

    # A small model to take in user and movie embeddings and predict ratings.
    # We can make this as complicated as we want as long as we output a scalar
    # as our prediction.
    self.rating_model = tf.keras.Sequential([
        tf.keras.layers.Dense(256, activation="relu"),
        tf.keras.layers.Dense(128, activation="relu"),
        tf.keras.layers.Dense(1),
    ])

    # The tasks.
    self.rating_task: tf.keras.layers.Layer = tfrs.tasks.Ranking(
        loss=tf.keras.losses.MeanSquaredError(),
        metrics=[tf.keras.metrics.RootMeanSquaredError()],
    )
    self.retrieval_task: tf.keras.layers.Layer = tfrs.tasks.Retrieval(
        metrics=tfrs.metrics.FactorizedTopK(
            candidates=movies.batch(128).map(self.movie_model)
        )
    )

    # The loss weights.
    self.rating_weight = rating_weight
    self.retrieval_weight = retrieval_weight

  def call(self, features: Dict[Text, tf.Tensor]) -> tf.Tensor:
    # We pick out the user features and pass them into the user model.
    user_embeddings = self.user_model(features["user_id"])
    # And pick out the movie features and pass them into the movie model.
    movie_embeddings = self.movie_model(features["movie_title"])
    
    return (
        user_embeddings,
        movie_embeddings,
        # We apply the multi-layered rating model to a concatentation of
        # user and movie embeddings.
        self.rating_model(
            tf.concat([user_embeddings, movie_embeddings], axis=1)
        ),
    )

  def compute_loss(self, features: Dict[Text, tf.Tensor], training=False) -> tf.Tensor:

    ratings = features.pop("user_ratings")

    user_embeddings, movie_embeddings, rating_predictions = self(features)

    # We compute the loss for each task.
    rating_loss = self.rating_task(
        labels=ratings,
        predictions=rating_predictions,
    )
    retrieval_loss = self.retrieval_task(user_embeddings, movie_embeddings)

    # And combine them using the loss weights.
    return (self.rating_weight * rating_loss
            + self.retrieval_weight * retrieval_loss)

In [45]:
model = MovieModel(rating_weight=1.0, retrieval_weight=1.0)

In [46]:
model.compile(optimizer=tf.keras.optimizers.Adagrad(0.1))

In [47]:
cached_train = train.batch(1_024).cache()
cached_test = test.batch(1_024).cache()

In [48]:
model.fit(cached_train, epochs=3)

Epoch 1/3
79/79 [==============================] - 7s 81ms/step - root_mean_squared_error: 1.2776 - factorized_top_k/top_1_categorical_accuracy: 1.8750e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0067 - factorized_top_k/top_10_categorical_accuracy: 0.0169 - factorized_top_k/top_50_categorical_accuracy: 0.1071 - factorized_top_k/top_100_categorical_accuracy: 0.2006 - loss: 6783.6256 - regularization_loss: 0.0000e+00 - total_loss: 6783.6256
Epoch 2/3
79/79 [==============================] - 6s 80ms/step - root_mean_squared_error: 1.0265 - factorized_top_k/top_1_categorical_accuracy: 4.5000e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0156 - factorized_top_k/top_10_categorical_accuracy: 0.0367 - factorized_top_k/top_50_categorical_accuracy: 0.1724 - factorized_top_k/top_100_categorical_accuracy: 0.3003 - loss: 6460.8987 - regularization_loss: 0.0000e+00 - total_loss: 6460.8987
Epoch 3/3
79/79 [==============================] - 6s 79ms/step - root_mean_squared_error: 1.0056 - factorized_top_k/top_1_categorical_accuracy: 2.5000e-04 - factorized_top_k/top_5_categorical_accuracy: 0.0206 - factorized_top_k/top_10_categorical_accuracy: 0.0465 - factorized_top_k/top_50_categorical_accuracy: 0.2068 - factorized_top_k/top_100_categorical_accuracy: 0.3421 - loss: 6304.5981 - regularization_loss: 0.0000e+00 - total_loss: 6304.5981

In [49]:
def predict_movie(user, top_n=3):
    # Create a model that takes in raw query features, and
    index = tfrs.layers.factorized_top_k.BruteForce(model.user_model)
    # recommends movies out of the entire movies dataset.
    index.index_from_dataset(
      tf.data.Dataset.zip((movies.batch(100), movies.batch(100).map(model.movie_model)))
    )

    # Get recommendations.
    _, titles = index(tf.constant([str(user)]))
    
    print('Top {} recommendations for user {}:\n'.format(top_n, user))
    for i, title in enumerate(titles[0, :top_n].numpy()):
        print('{}. {}'.format(i+1, title.decode("utf-8")))

In [55]:
predict_movie(933,top_n=50)

Top 50 recommendations for user 933:

1. Young Guns II (1990)
2. Cowboy Way, The (1994)
3. Real Genius (1985)
4. Escape from New York (1981)
5. Under Siege (1992)
6. Boomerang (1992)
7. Ace Ventura: Pet Detective (1994)
8. Cliffhanger (1993)
9. Coneheads (1993)
10. Son in Law (1993)

In [51]:
user_id=str(933)

# Filter the dataset for user_id = '123'
filtered_ratings = ratings.filter(lambda x: x['user_id'] == tf.constant(user_id))

# Iterate through the filtered dataset to access the records
for record in filtered_ratings:
    movie_title = record['movie_title'].numpy().decode('utf-8')
    user_rating = record['user_ratings'].numpy()
    print(f"Movie: {movie_title}, Rating: {user_rating}")

Movie: Birdcage, The (1996), Rating: 2.0
Movie: Braveheart (1995), Rating: 5.0
Movie: Return of the Pink Panther, The (1974), Rating: 2.0
Movie: Three Musketeers, The (1993), Rating: 3.0
Movie: Romeo Is Bleeding (1993), Rating: 3.0
Movie: Grease 2 (1982), Rating: 1.0
Movie: Natural Born Killers (1994), Rating: 1.0
Movie: Clockwork Orange, A (1971), Rating: 5.0
Movie: City Slickers II: The Legend of Curly's Gold (1994), Rating: 1.0
Movie: Star Wars (1977), Rating: 4.0
Movie: Sting, The (1973), Rating: 4.0
Movie: Fargo (1996), Rating: 5.0
Movie: Star Trek: The Wrath of Khan (1982), Rating: 4.0
Movie: Mulholland Falls (1996), Rating: 2.0
Movie: Star Trek IV: The Voyage Home (1986), Rating: 3.0
Movie: One Flew Over the Cuckoo's Nest (1975), Rating: 4.0
Movie: Aliens (1986), Rating: 3.0
Movie: Pulp Fiction (1994), Rating: 5.0
Movie: Tombstone (1993), Rating: 4.0
Movie: Silence of the Lambs, The (1991), Rating: 5.0
Movie: Under Siege 2: Dark Territory (1995), Rating: 1.0
Movie: Toy Story (1995), Rating: 3.0
Movie: Broken Arrow (1996), Rating: 2.0
Movie: Godfather: Part II, The (1974), Rating: 4.0
Movie: Monty Python's Life of Brian (1979), Rating: 2.0
Movie: Die Hard 2 (1990), Rating: 2.0
Movie: Madness of King George, The (1994), Rating: 3.0
Movie: Interview with the Vampire (1994), Rating: 2.0
Movie: Star Trek VI: The Undiscovered Country (1991), Rating: 1.0
Movie: Operation Dumbo Drop (1995), Rating: 1.0
Movie: Hunt for Red October, The (1990), Rating: 4.0
Movie: Dave (1993), Rating: 3.0
Movie: Field of Dreams (1989), Rating: 3.0
Movie: Casablanca (1942), Rating: 4.0
Movie: This Is Spinal Tap (1984), Rating: 2.0
Movie: Jaws (1975), Rating: 3.0
Movie: Star Trek: First Contact (1996), Rating: 1.0
Movie: Alien 3 (1992), Rating: 1.0
Movie: Mrs. Doubtfire (1993), Rating: 2.0
Movie: Jurassic Park (1993), Rating: 3.0
Movie: Butch Cassidy and the Sundance Kid (1969), Rating: 4.0
Movie: Right Stuff, The (1983), Rating: 4.0
Movie: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963), Rating: 5.0
Movie: Airheads (1994), Rating: 1.0
Movie: Escape from New York (1981), Rating: 2.0
Movie: Maverick (1994), Rating: 4.0
Movie: Manon of the Spring (Manon des sources) (1986), Rating: 3.0
Movie: Aladdin (1992), Rating: 3.0
Movie: Cape Fear (1991), Rating: 3.0
Movie: Godfather, The (1972), Rating: 5.0
Movie: Mask, The (1994), Rating: 3.0
Movie: Young Guns II (1990), Rating: 1.0
Movie: Living in Oblivion (1995), Rating: 2.0
Movie: Mary Shelley's Frankenstein (1994), Rating: 3.0
Movie: Boot, Das (1981), Rating: 3.0
Movie: Willy Wonka and the Chocolate Factory (1971), Rating: 4.0
Movie: Nightmare on Elm Street, A (1984), Rating: 1.0
Movie: Seven (Se7en) (1995), Rating: 4.0
Movie: Apocalypse Now (1979), Rating: 5.0
Movie: Batman (1989), Rating: 3.0
Movie: People vs. Larry Flynt, The (1996), Rating: 3.0
Movie: Philadelphia (1993), Rating: 3.0
Movie: When Harry Met Sally... (1989), Rating: 3.0
Movie: Dances with Wolves (1990), Rating: 2.0
Movie: Heat (1995), Rating: 3.0
Movie: Back to the Future (1985), Rating: 3.0
Movie: Princess Bride, The (1987), Rating: 3.0
Movie: Tin Cup (1996), Rating: 2.0
Movie: Ace Ventura: Pet Detective (1994), Rating: 1.0
Movie: Children of the Corn: The Gathering (1996), Rating: 1.0
Movie: Trainspotting (1996), Rating: 2.0
Movie: Heathers (1989), Rating: 1.0
Movie: Made in America (1993), Rating: 2.0
Movie: Shining, The (1980), Rating: 4.0
Movie: Alien (1979), Rating: 4.0
Movie: Bushwhacked (1995), Rating: 1.0
Movie: Robin Hood: Prince of Thieves (1991), Rating: 2.0
Movie: Muppet Treasure Island (1996), Rating: 1.0
Movie: Wizard of Oz, The (1939), Rating: 3.0
Movie: Star Trek: The Motion Picture (1979), Rating: 1.0
Movie: GoodFellas (1990), Rating: 4.0
Movie: Pink Floyd - The Wall (1982), Rating: 3.0
Movie: Searching for Bobby Fischer (1993), Rating: 4.0
Movie: Jaws 2 (1978), Rating: 1.0
Movie: Platoon (1986), Rating: 4.0
Movie: Twelve Monkeys (1995), Rating: 4.0
Movie: Amityville Horror, The (1979), Rating: 2.0
Movie: Batman Returns (1992), Rating: 1.0
Movie: Die Hard (1988), Rating: 4.0
Movie: Dead Poets Society (1989), Rating: 4.0
Movie: Reservoir Dogs (1992), Rating: 4.0
Movie: Home Alone (1990), Rating: 1.0
Movie: Fish Called Wanda, A (1988), Rating: 3.0
Movie: Sleepless in Seattle (1993), Rating: 3.0
Movie: Stargate (1994), Rating: 1.0
Movie: Michael (1996), Rating: 2.0
Movie: Son in Law (1993), Rating: 1.0
Movie: True Lies (1994), Rating: 3.0
Movie: Raiders of the Lost Ark (1981), Rating: 4.0
Movie: Boomerang (1992), Rating: 1.0
Movie: Cliffhanger (1993), Rating: 1.0
Movie: Santa Clause, The (1994), Rating: 2.0
Movie: Grease (1978), Rating: 1.0
Movie: Cowboy Way, The (1994), Rating: 3.0
Movie: Dazed and Confused (1993), Rating: 1.0
Movie: Quiz Show (1994), Rating: 3.0
Movie: Top Gun (1986), Rating: 2.0
Movie: 2001: A Space Odyssey (1968), Rating: 4.0
Movie: Clueless (1995), Rating: 4.0
Movie: Kingpin (1996), Rating: 3.0
Movie: Real Genius (1985), Rating: 4.0
Movie: Fugitive, The (1993), Rating: 3.0
Movie: Blues Brothers, The (1980), Rating: 4.0
Movie: Abyss, The (1989), Rating: 2.0
Movie: Four Weddings and a Funeral (1994), Rating: 2.0
Movie: Tank Girl (1995), Rating: 3.0
Movie: Schindler's List (1993), Rating: 4.0
Movie: Usual Suspects, The (1995), Rating: 4.0
Movie: Courage Under Fire (1996), Rating: 3.0
Movie: Monty Python and the Holy Grail (1974), Rating: 3.0
Movie: Indiana Jones and the Last Crusade (1989), Rating: 3.0
Movie: Chinatown (1974), Rating: 4.0
Movie: Halloween: The Curse of Michael Myers (1995), Rating: 1.0
Movie: Under Siege (1992), Rating: 2.0
Movie: Conan the Barbarian (1981), Rating: 1.0
Movie: Raising Arizona (1987), Rating: 2.0
Movie: Coneheads (1993), Rating: 1.0
Movie: Last Man Standing (1996), Rating: 3.0
Movie: Die Hard: With a Vengeance (1995), Rating: 1.0
Movie: Cool Hand Luke (1967), Rating: 4.0
Movie: Happy Gilmore (1996), Rating: 3.0
Movie: Young Guns (1988), Rating: 1.0
Movie: Clerks (1994), Rating: 1.0
Movie: Swimming with Sharks (1995), Rating: 4.0
Movie: Apollo 13 (1995), Rating: 4.0
Movie: M*A*S*H (1970), Rating: 4.0
Movie: Sneakers (1992), Rating: 3.0
Movie: Basic Instinct (1992), Rating: 3.0
Movie: Strange Days (1995), Rating: 3.0
Movie: Jaws 3-D (1983), Rating: 1.0
Movie: Bronx Tale, A (1993), Rating: 3.0
Movie: Empire Strikes Back, The (1980), Rating: 2.0
Movie: Get Shorty (1995), Rating: 3.0
Movie: Last Action Hero (1993), Rating: 1.0
Movie: Independence Day (ID4) (1996), Rating: 3.0
Movie: Groundhog Day (1993), Rating: 2.0
Movie: Naked Gun 33 1/3: The Final Insult (1994), Rating: 1.0
Movie: Mission: Impossible (1996), Rating: 3.0
Movie: Forrest Gump (1994), Rating: 4.0
Movie: Nutty Professor, The (1996), Rating: 2.0
Movie: Army of Darkness (1993), Rating: 1.0
Movie: Hot Shots! Part Deux (1993), Rating: 2.0
Movie: Sgt. Bilko (1996), Rating: 2.0
Movie: Speed (1994), Rating: 2.0
Movie: Dead Man Walking (1995), Rating: 3.0
Movie: Good, The Bad and The Ugly, The (1966), Rating: 4.0
Movie: Eraser (1996), Rating: 1.0
Movie: Shawshank Redemption, The (1994), Rating: 5.0
Movie: Terminator 2: Judgment Day (1991), Rating: 2.0
Movie: First Wives Club, The (1996), Rating: 2.0
Movie: Terminator, The (1984), Rating: 4.0
Movie: Star Trek III: The Search for Spock (1984), Rating: 1.0
Movie: Time to Kill, A (1996), Rating: 3.0
Movie: Net, The (1995), Rating: 2.0
Movie: Trees Lounge (1996), Rating: 3.0
Movie: Phenomenon (1996), Rating: 4.0
Movie: Better Off Dead... (1985), Rating: 2.0
Movie: Return of the Jedi (1983), Rating: 2.0
Movie: Demolition Man (1993), Rating: 1.0
Movie: Beverly Hills Cop III (1994), Rating: 1.0
Movie: Last of the Mohicans, The (1992), Rating: 2.0
Movie: Glory (1989), Rating: 3.0
Movie: Private Benjamin (1980), Rating: 2.0
Movie: Grumpier Old Men (1995), Rating: 2.0
Movie: Carrie (1976), Rating: 2.0
Movie: Preacher's Wife, The (1996), Rating: 1.0
Movie: Glengarry Glen Ross (1992), Rating: 3.0
Movie: Wolf (1994), Rating: 1.0
Movie: Blade Runner (1982), Rating: 4.0
Movie: Rosencrantz and Guildenstern Are Dead (1990), Rating: 3.0
Movie: In the Name of the Father (1993), Rating: 4.0
Movie: Rock, The (1996), Rating: 2.0
Movie: Man Without a Face, The (1993), Rating: 3.0
Movie: Brazil (1985), Rating: 4.0

In [39]:
import tensorflow as tf

user_id=str(933)

# Filter the dataset for user_id = '123'
filtered_ratings = ratings.filter(lambda x: x['user_id'] == tf.constant(user_id))

# Iterate through the filtered dataset to access the records
for record in filtered_ratings:
    movie_title = record['movie_title'].numpy().decode('utf-8')
    user_rating = record['user_ratings'].numpy()
    print(f"Movie: {movie_title}, Rating: {user_rating}")

Movie: Birdcage, The (1996), Rating: 2.0
Movie: Braveheart (1995), Rating: 5.0
Movie: Return of the Pink Panther, The (1974), Rating: 2.0
Movie: Three Musketeers, The (1993), Rating: 3.0
Movie: Romeo Is Bleeding (1993), Rating: 3.0
Movie: Grease 2 (1982), Rating: 1.0
Movie: Natural Born Killers (1994), Rating: 1.0
Movie: Clockwork Orange, A (1971), Rating: 5.0
Movie: City Slickers II: The Legend of Curly's Gold (1994), Rating: 1.0
Movie: Star Wars (1977), Rating: 4.0
Movie: Sting, The (1973), Rating: 4.0
Movie: Fargo (1996), Rating: 5.0
Movie: Star Trek: The Wrath of Khan (1982), Rating: 4.0
Movie: Mulholland Falls (1996), Rating: 2.0
Movie: Star Trek IV: The Voyage Home (1986), Rating: 3.0
Movie: One Flew Over the Cuckoo's Nest (1975), Rating: 4.0
Movie: Aliens (1986), Rating: 3.0
Movie: Pulp Fiction (1994), Rating: 5.0
Movie: Tombstone (1993), Rating: 4.0
Movie: Silence of the Lambs, The (1991), Rating: 5.0
Movie: Under Siege 2: Dark Territory (1995), Rating: 1.0
Movie: Toy Story (1995), Rating: 3.0
Movie: Broken Arrow (1996), Rating: 2.0
Movie: Godfather: Part II, The (1974), Rating: 4.0
Movie: Monty Python's Life of Brian (1979), Rating: 2.0
Movie: Die Hard 2 (1990), Rating: 2.0
Movie: Madness of King George, The (1994), Rating: 3.0
Movie: Interview with the Vampire (1994), Rating: 2.0
Movie: Star Trek VI: The Undiscovered Country (1991), Rating: 1.0
Movie: Operation Dumbo Drop (1995), Rating: 1.0
Movie: Hunt for Red October, The (1990), Rating: 4.0
Movie: Dave (1993), Rating: 3.0
Movie: Field of Dreams (1989), Rating: 3.0
Movie: Casablanca (1942), Rating: 4.0
Movie: This Is Spinal Tap (1984), Rating: 2.0
Movie: Jaws (1975), Rating: 3.0
Movie: Star Trek: First Contact (1996), Rating: 1.0
Movie: Alien 3 (1992), Rating: 1.0
Movie: Mrs. Doubtfire (1993), Rating: 2.0
Movie: Jurassic Park (1993), Rating: 3.0
Movie: Butch Cassidy and the Sundance Kid (1969), Rating: 4.0
Movie: Right Stuff, The (1983), Rating: 4.0
Movie: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1963), Rating: 5.0
Movie: Airheads (1994), Rating: 1.0
Movie: Escape from New York (1981), Rating: 2.0
Movie: Maverick (1994), Rating: 4.0
Movie: Manon of the Spring (Manon des sources) (1986), Rating: 3.0
Movie: Aladdin (1992), Rating: 3.0
Movie: Cape Fear (1991), Rating: 3.0
Movie: Godfather, The (1972), Rating: 5.0
Movie: Mask, The (1994), Rating: 3.0
Movie: Young Guns II (1990), Rating: 1.0
Movie: Living in Oblivion (1995), Rating: 2.0
Movie: Mary Shelley's Frankenstein (1994), Rating: 3.0
Movie: Boot, Das (1981), Rating: 3.0
Movie: Willy Wonka and the Chocolate Factory (1971), Rating: 4.0
Movie: Nightmare on Elm Street, A (1984), Rating: 1.0
Movie: Seven (Se7en) (1995), Rating: 4.0
Movie: Apocalypse Now (1979), Rating: 5.0
Movie: Batman (1989), Rating: 3.0
Movie: People vs. Larry Flynt, The (1996), Rating: 3.0
Movie: Philadelphia (1993), Rating: 3.0
Movie: When Harry Met Sally... (1989), Rating: 3.0
Movie: Dances with Wolves (1990), Rating: 2.0
Movie: Heat (1995), Rating: 3.0
Movie: Back to the Future (1985), Rating: 3.0
Movie: Princess Bride, The (1987), Rating: 3.0
Movie: Tin Cup (1996), Rating: 2.0
Movie: Ace Ventura: Pet Detective (1994), Rating: 1.0
Movie: Children of the Corn: The Gathering (1996), Rating: 1.0
Movie: Trainspotting (1996), Rating: 2.0
Movie: Heathers (1989), Rating: 1.0
Movie: Made in America (1993), Rating: 2.0
Movie: Shining, The (1980), Rating: 4.0
Movie: Alien (1979), Rating: 4.0
Movie: Bushwhacked (1995), Rating: 1.0
Movie: Robin Hood: Prince of Thieves (1991), Rating: 2.0
Movie: Muppet Treasure Island (1996), Rating: 1.0
Movie: Wizard of Oz, The (1939), Rating: 3.0
Movie: Star Trek: The Motion Picture (1979), Rating: 1.0
Movie: GoodFellas (1990), Rating: 4.0
Movie: Pink Floyd - The Wall (1982), Rating: 3.0
Movie: Searching for Bobby Fischer (1993), Rating: 4.0
Movie: Jaws 2 (1978), Rating: 1.0
Movie: Platoon (1986), Rating: 4.0
Movie: Twelve Monkeys (1995), Rating: 4.0
Movie: Amityville Horror, The (1979), Rating: 2.0
Movie: Batman Returns (1992), Rating: 1.0
Movie: Die Hard (1988), Rating: 4.0
Movie: Dead Poets Society (1989), Rating: 4.0
Movie: Reservoir Dogs (1992), Rating: 4.0
Movie: Home Alone (1990), Rating: 1.0
Movie: Fish Called Wanda, A (1988), Rating: 3.0
Movie: Sleepless in Seattle (1993), Rating: 3.0
Movie: Stargate (1994), Rating: 1.0
Movie: Michael (1996), Rating: 2.0
Movie: Son in Law (1993), Rating: 1.0
Movie: True Lies (1994), Rating: 3.0
Movie: Raiders of the Lost Ark (1981), Rating: 4.0
Movie: Boomerang (1992), Rating: 1.0
Movie: Cliffhanger (1993), Rating: 1.0
Movie: Santa Clause, The (1994), Rating: 2.0
Movie: Grease (1978), Rating: 1.0
Movie: Cowboy Way, The (1994), Rating: 3.0
Movie: Dazed and Confused (1993), Rating: 1.0
Movie: Quiz Show (1994), Rating: 3.0
Movie: Top Gun (1986), Rating: 2.0
Movie: 2001: A Space Odyssey (1968), Rating: 4.0
Movie: Clueless (1995), Rating: 4.0
Movie: Kingpin (1996), Rating: 3.0
Movie: Real Genius (1985), Rating: 4.0
Movie: Fugitive, The (1993), Rating: 3.0
Movie: Blues Brothers, The (1980), Rating: 4.0
Movie: Abyss, The (1989), Rating: 2.0
Movie: Four Weddings and a Funeral (1994), Rating: 2.0
Movie: Tank Girl (1995), Rating: 3.0
Movie: Schindler's List (1993), Rating: 4.0
Movie: Usual Suspects, The (1995), Rating: 4.0
Movie: Courage Under Fire (1996), Rating: 3.0
Movie: Monty Python and the Holy Grail (1974), Rating: 3.0
Movie: Indiana Jones and the Last Crusade (1989), Rating: 3.0
Movie: Chinatown (1974), Rating: 4.0
Movie: Halloween: The Curse of Michael Myers (1995), Rating: 1.0
Movie: Under Siege (1992), Rating: 2.0
Movie: Conan the Barbarian (1981), Rating: 1.0
Movie: Raising Arizona (1987), Rating: 2.0
Movie: Coneheads (1993), Rating: 1.0
Movie: Last Man Standing (1996), Rating: 3.0
Movie: Die Hard: With a Vengeance (1995), Rating: 1.0
Movie: Cool Hand Luke (1967), Rating: 4.0
Movie: Happy Gilmore (1996), Rating: 3.0
Movie: Young Guns (1988), Rating: 1.0
Movie: Clerks (1994), Rating: 1.0
Movie: Swimming with Sharks (1995), Rating: 4.0
Movie: Apollo 13 (1995), Rating: 4.0
Movie: M*A*S*H (1970), Rating: 4.0
Movie: Sneakers (1992), Rating: 3.0
Movie: Basic Instinct (1992), Rating: 3.0
Movie: Strange Days (1995), Rating: 3.0
Movie: Jaws 3-D (1983), Rating: 1.0
Movie: Bronx Tale, A (1993), Rating: 3.0
Movie: Empire Strikes Back, The (1980), Rating: 2.0
Movie: Get Shorty (1995), Rating: 3.0
Movie: Last Action Hero (1993), Rating: 1.0
Movie: Independence Day (ID4) (1996), Rating: 3.0
Movie: Groundhog Day (1993), Rating: 2.0
Movie: Naked Gun 33 1/3: The Final Insult (1994), Rating: 1.0
Movie: Mission: Impossible (1996), Rating: 3.0
Movie: Forrest Gump (1994), Rating: 4.0
Movie: Nutty Professor, The (1996), Rating: 2.0
Movie: Army of Darkness (1993), Rating: 1.0
Movie: Hot Shots! Part Deux (1993), Rating: 2.0
Movie: Sgt. Bilko (1996), Rating: 2.0
Movie: Speed (1994), Rating: 2.0
Movie: Dead Man Walking (1995), Rating: 3.0
Movie: Good, The Bad and The Ugly, The (1966), Rating: 4.0
Movie: Eraser (1996), Rating: 1.0
Movie: Shawshank Redemption, The (1994), Rating: 5.0
Movie: Terminator 2: Judgment Day (1991), Rating: 2.0
Movie: First Wives Club, The (1996), Rating: 2.0
Movie: Terminator, The (1984), Rating: 4.0
Movie: Star Trek III: The Search for Spock (1984), Rating: 1.0
Movie: Time to Kill, A (1996), Rating: 3.0
Movie: Net, The (1995), Rating: 2.0
Movie: Trees Lounge (1996), Rating: 3.0
Movie: Phenomenon (1996), Rating: 4.0
Movie: Better Off Dead... (1985), Rating: 2.0
Movie: Return of the Jedi (1983), Rating: 2.0
Movie: Demolition Man (1993), Rating: 1.0
Movie: Beverly Hills Cop III (1994), Rating: 1.0
Movie: Last of the Mohicans, The (1992), Rating: 2.0
Movie: Glory (1989), Rating: 3.0
Movie: Private Benjamin (1980), Rating: 2.0
Movie: Grumpier Old Men (1995), Rating: 2.0
Movie: Carrie (1976), Rating: 2.0
Movie: Preacher's Wife, The (1996), Rating: 1.0
Movie: Glengarry Glen Ross (1992), Rating: 3.0
Movie: Wolf (1994), Rating: 1.0
Movie: Blade Runner (1982), Rating: 4.0
Movie: Rosencrantz and Guildenstern Are Dead (1990), Rating: 3.0
Movie: In the Name of the Father (1993), Rating: 4.0
Movie: Rock, The (1996), Rating: 2.0
Movie: Man Without a Face, The (1993), Rating: 3.0
Movie: Brazil (1985), Rating: 4.0

unique_user_ids

In [64]:
for record in filtered_ratings:
    test = record['movie_title'].numpy().decode('utf-8')

In [66]:
test

'Brazil (1985)'

In [ ]:
# Example of user interactions (movies and ratings)
user_movies = [movie_id_1, movie_id_2, movie_id_3]
user_ratings = [rating_1, rating_2, rating_3]

# Convert user interactions into tensors
user_movie_tensor = tf.convert_to_tensor(user_movies, dtype=tf.int32)
user_rating_tensor = tf.convert_to_tensor(user_ratings, dtype=tf.float32)

# Generate the user embedding using the fitted model
user_embedding = model.user_model({
    "movie_ids": user_movie_tensor,
    "ratings": user_rating_tensor
})

# Use the retrieval task to get top recommendations
recommendations, scores = model.retrieval_task.index({
    "user_embedding": user_embedding
}, k=10)

# Display the recommended movies and their scores
for title, score in zip(recommendations["movie_titles"], scores):
    print(f"Movie: {title}, Score: {score}")

# Data (in Pandas)

In [67]:
ratings_df = tfds.as_dataframe(ratings)

In [78]:
ratings_df.head(10)

                                 movie_title user_id  user_ratings
0  b"One Flew Over the Cuckoo's Nest (1975)"  b'138'           4.0
1                b'Strictly Ballroom (1992)'   b'92'           2.0
2             b'Very Brady Sequel, A (1996)'  b'301'           4.0
3                     b'Pulp Fiction (1994)'   b'60'           4.0
4                         b'Scream 2 (1997)'  b'197'           3.0
5                            b'Crash (1996)'  b'601'           4.0
6                          b'Aladdin (1992)'  b'710'           3.0
7                     b'True Romance (1993)'  b'833'           2.0
8                      b'Bob Roberts (1992)'  b'916'           5.0
9                b'Starship Troopers (1997)'  b'940'           2.0

In [77]:
ratings_df[ratings_df['user_id'] == b'933']

                                           movie_title user_id  user_ratings
262                            b'Birdcage, The (1996)'  b'933'           2.0
1281                              b'Braveheart (1995)'  b'933'           5.0
3158         b'Return of the Pink Panther, The (1974)'  b'933'           2.0
3852                   b'Three Musketeers, The (1993)'  b'933'           3.0
4046                       b'Romeo Is Bleeding (1993)'  b'933'           3.0
...                                                ...     ...           ...
95007  b'Rosencrantz and Guildenstern Are Dead (1990)'  b'933'           3.0
95242              b'In the Name of the Father (1993)'  b'933'           4.0
95690                              b'Rock, The (1996)'  b'933'           2.0
96808                b'Man Without a Face, The (1993)'  b'933'           3.0
98483                                 b'Brazil (1985)'  b'933'           4.0

[184 rows x 3 columns]

In [79]:
movies_df = tfds.as_dataframe(movies)

In [80]:
movies_df.head(10)

0                    b'You So Crazy (1994)'
1            b'Love Is All There Is (1996)'
2                   b'Fly Away Home (1996)'
3           b'In the Line of Duty 2 (1987)'
4                b'Niagara, Niagara (1997)'
5  b"Young Poisoner's Handbook, The (1995)"
6           b'Age of Innocence, The (1993)'
7                           b'Flirt (1995)'
8                           b'Frisk (1995)'
9                                b'unknown'