# Preprocessing for Tensorflow

In [1]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# IMDB File path
file_path = "/Users/timjamboula/code/m-r-c-l/Movie-Recommendation-Engine/raw_data/ml-latest-small/movie_imdb_final_v003.csv"
movie_imdb_final_df = pd.read_csv(file_path)
movie_imdb_final_df

,userId,movieId,user_rating,user_rating_time,title,release_year,user_tag,imdbId,total_user_ratings,average_rating,...,description,popularity,imbd_tagline,cast_actors,director,imdb_rating,imdb_votes,genres,tmdb_vote_average_1_5,imdb_rating_1_5
0,1,1,4.0,2000-07-30 18:45:03,Toy Story,1995-01-01,Unknown,114709,215,3.9,...,"Led by Woody, Andy's toys live happily in his ...",135,Hang on for the comedy that goes to infinity a...,"Penn Jillette, Jim Varney",John Lasseter,8.3,1084026,"Adventure, Animation, Children, Comedy, Family...",4.0,4.2
1,1,3,4.0,2000-07-30 18:20:47,Grumpier Old Men,1995-01-01,Unknown,113228,53,3.2,...,A family wedding reignites the ancient feud be...,11,Still Yelling. Still Fighting. Still Ready for...,"Sophia Loren, Jack Lemmon",Howard Deutch,6.7,30004,"Comedy, Romance",3.2,3.4
2,1,6,4.0,2000-07-30 18:37:04,Heat,1995-01-01,Unknown,113277,102,3.9,...,Obsessive master thief Neil McCauley leads a t...,48,A Los Angeles crime saga.,"Henry Rollins, Rick Marzan",Michael Mann,8.3,729795,"Action, Crime, Drama, Thriller",4.0,4.2
3,1,47,5.0,2000-07-30 19:03:35,Seven (a.k.a. Se7en),1995-01-01,Unknown,114369,204,4.0,...,Two homicide detectives are on a desperate hun...,108,Seven deadly sins. Seven ways to die.,"Shannon Wilcox, Hawthorne James",David Fincher,8.6,1829387,"Crime, Mystery, Thriller",4.2,4.3
4,1,50,5.0,2000-07-30 18:48:51,"Usual Suspects, The",1995-01-01,Unknown,114814,208,4.3,...,"Held in an L.A. interrogation room, Verbal Kin...",41,Five criminals. One line up. No coincidence.,"Dan Hedaya, Gabriel Byrne",Bryan Singer,8.5,1157914,"Crime, Drama, Mystery, Thriller",4.1,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102433,610,166534,4.0,2017-05-03 21:53:22,Split,2017-01-01,Unknown,4972582,6,3.3,...,Though Kevin has evidenced 23 personalities to...,70,Kevin has 23 distinct personalities. The 24th ...,"John Jillard Sr., Jerome Gallman",M. Night Shyamalan,7.3,566678,"Drama, Horror, Thriller",3.6,3.6
102434,610,168248,5.0,2017-05-03 22:21:31,John Wick: Chapter Two,2017-01-01,Heroic Bloodshed,4425200,13,4.3,...,John Wick is forced out of retirement by a for...,101,Never stab the devil in the back!,"Thaddeus Daniels, Tim Connolly",Chad Stahelski,7.4,521063,"Action, Crime, Thriller",3.6,3.7
102435,610,168250,5.0,2017-05-08 19:50:47,Get Out,2017-01-01,Unknown,5052448,15,3.6,...,Chris and his girlfriend Rose go upstate to vi...,66,"Just because you're invited, doesn't mean you'...","Bradley Whitford, Lil Rel Howery",Jordan Peele,7.8,720999,"Horror, Mystery, Thriller",3.8,3.9
102436,610,168252,5.0,2017-05-03 21:19:12,Logan,2017-01-01,Unknown,3315342,29,4.2,...,"In the near future, a weary Logan cares for an...",159,His time has come.,"Bryant Tardy, Daniel Hernández",James Mangold,8.1,856843,"Action, Drama, Sci-Fi, Science Fiction",3.9,4.0
102437,610,170875,3.0,2017-05-03 21:20:15,The Fate of the Furious,2017-01-01,Unknown,4630562,3,2.3,...,When a mysterious woman seduces Dom into the w...,66,Never give up on family.,"Anna MacKenzie Rogers, Caroline Kimmel",F. Gary Gray,6.6,257422,"Action, Crime, Drama, Thriller",3.4,3.3

In [4]:
# Dropping dtype object columns
data_tf_prepping = movie_imdb_final_df.drop(['user_rating_time', 'title', 'release_year', 'user_tag', 'imdb_id', 'description', 'imbd_tagline', 'cast_actors', 'director', 'genres'], axis=1)

In [5]:
data_tf_prepping.nunique()

userId                    610
movieId                  9631
user_rating                10
imdbId                   9631
total_user_ratings        180
average_rating             43
num_genres                  9
tmdb_vote_average          69
tmdb_vote_count          3283
revenue                  5755
runtime                   223
budget                    727
popularity                175
imdb_rating                75
imdb_votes               9078
tmdb_vote_average_1_5      38
imdb_rating_1_5            40
dtype: int64

In [6]:
data_tf_prepping.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102438 entries, 0 to 102437
Data columns (total 17 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 102438 non-null  int64
 1   movieId                102438 non-null  int64
 2   user_rating            102438 non-null  float64
 3   imdbId                 102438 non-null  int64
 4   total_user_ratings     102438 non-null  int64
 5   average_rating         102438 non-null  float64
 6   num_genres             102438 non-null  int64
 7   tmdb_vote_average      102438 non-null  float64
 8   tmdb_vote_count        102438 non-null  int64
 9   revenue                102438 non-null  int64
 10  runtime                102438 non-null  int64
 11  budget                 102438 non-null  int64
 12  popularity             102438 non-null  int64
 13  imdb_rating            102438 non-null  float64
 14  imdb_votes             102438 non-null  int64
 15  tmdb_vote_average_1_5  102438 non-null  float64
 16  imdb_rating_1_5        102438 non-null  float64
dtypes: float64(6), int64(11)
memory usage: 13.3 MB

## Rating Set

In [7]:
# Dropping dtype object columns
ratings_new_df = data_tf_prepping.drop(['imdbId', 'num_genres', 'revenue', 'runtime', 'budget', 'popularity'], 
                                                  axis=1)

In [8]:
ratings_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102438 entries, 0 to 102437
Data columns (total 11 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   userId                 102438 non-null  int64
 1   movieId                102438 non-null  int64
 2   user_rating            102438 non-null  float64
 3   total_user_ratings     102438 non-null  int64
 4   average_rating         102438 non-null  float64
 5   tmdb_vote_average      102438 non-null  float64
 6   tmdb_vote_count        102438 non-null  int64
 7   imdb_rating            102438 non-null  float64
 8   imdb_votes             102438 non-null  int64
 9   tmdb_vote_average_1_5  102438 non-null  float64
 10  imdb_rating_1_5        102438 non-null  float64
dtypes: float64(6), int64(5)
memory usage: 8.6 MB

In [9]:
# To CSV
#ratings_new_df.to_csv('ratings_new_df.csv', index=False)

In [10]:
# Preprocessing: Checking for object dtypes to encode later
categorical_cols = ratings_new_df.select_dtypes(include=['object']).columns
categorical_cols

Index([], dtype='object')

In [11]:
from sklearn.preprocessing import StandardScaler

# Selecting numerical columns
numerical_cols = ratings_new_df.select_dtypes(include=['float64', 'int64']).columns

# Initializing StandardScaler
scaler = StandardScaler()

# Scaling numerical columns
data_scaled = ratings_new_df.copy()
data_scaled[numerical_cols] = scaler.fit_transform(ratings_new_df[numerical_cols])

data_scaled.head()

,userId,movieId,user_rating,total_user_ratings,average_rating,tmdb_vote_average,tmdb_vote_count,imdb_rating,imdb_votes,tmdb_vote_average_1_5,imdb_rating_1_5
0,-1.783705,-0.549637,0.465836,2.247584,0.676650,1.173071,1.876775,1.178606,1.429205,1.168387,1.287531
1,-1.783705,-0.549581,0.465836,-0.121773,-0.551320,-0.652277,-0.808300,-0.521161,-0.720432,-0.771050,-0.410848
2,-1.783705,-0.549497,0.465836,0.594884,0.676650,1.051381,0.215132,1.178606,0.706765,1.168387,1.287531
3,-1.783705,-0.548349,1.424816,2.086701,0.852074,1.659830,2.260033,1.497312,2.949341,1.653247,1.499828
4,-1.783705,-0.548265,1.424816,2.145204,1.378347,1.416450,0.676280,1.391077,1.579897,1.410817,1.287531

In [12]:
from sklearn.model_selection import train_test_split

# Splitting Data for Training and Testing using target 'user_rating'
X = ratings_new_df.drop('user_rating', axis=1)
y = ratings_new_df['user_rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((81950, 10), (20488, 10), (81950,), (20488,))

## MovieID Set

In [20]:
# Step 1: Ensure we have the correct number of unique 'movieId' before and after filtering
unique_movie_ids_before = data_tf_prepping['movieId'].nunique()
print(f"Unique movieId count before filtering: {unique_movie_ids_before}")

# Step 2: Remove duplicate 'movieId', keeping only the first occurrence
movies_new_df = data_tf_prepping.drop_duplicates(subset=['movieId'], keep='first')
movies_new_df

# Verify the result by saving the dataframe if needed
#data_tf_prepping_unique.to_csv('unique_movieId_data_tf_prepping.csv', index=False)

Unique movieId count before filtering: 9631

,userId,movieId,user_rating,imdbId,total_user_ratings,average_rating,num_genres,tmdb_vote_average,tmdb_vote_count,revenue,runtime,budget,popularity,imdb_rating,imdb_votes,tmdb_vote_average_1_5,imdb_rating_1_5
0,1,1,4.0,114709,215,3.9,5,8.0,18158,394436586,81,30000000,135,8.3,1084026,4.0,4.2
1,1,3,4.0,113228,53,3.2,2,6.5,370,71500000,101,25000000,11,6.7,30004,3.2,3.4
2,1,6,4.0,113277,102,3.9,3,7.9,7150,187400000,170,60000000,48,8.3,729795,4.0,4.2
3,1,47,5.0,114369,204,4.0,2,8.4,20697,327311859,127,33000000,108,8.6,1829387,4.2,4.3
4,1,50,5.0,114814,208,4.3,3,8.2,10205,23300000,106,6000000,41,8.5,1157914,4.1,4.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102422,610,160341,2.5,118745,1,2.5,2,6.8,20,0,102,0,31,5.8,952,3.4,2.9
102423,610,160527,4.5,66806,1,4.5,3,7.2,34,0,93,0,6,7.3,1093,3.6,3.6
102425,610,160836,3.0,798722,1,3.0,3,6.6,21,0,103,0,9,6.7,856,3.3,3.4
102429,610,163937,3.5,1540011,1,3.5,2,5.2,1878,45172994,89,5000000,23,5.0,50359,2.6,2.5
102430,610,163981,3.5,3835080,1,3.5,1,5.4,762,850419,102,1500000,12,5.1,23282,2.7,2.6

In [21]:
# Dropping columns
movies_new_df = data_tf_prepping.drop(['userId', 'user_rating', 'total_user_ratings', 'average_rating', 'tmdb_vote_average', 'tmdb_vote_count', 'imdb_rating', 'imdb_votes', 'tmdb_vote_average_1_5', 'imdb_rating_1_5']
                                                  , axis=1)

In [22]:
movies_new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102438 entries, 0 to 102437
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   movieId     102438 non-null  int64
 1   imdbId      102438 non-null  int64
 2   num_genres  102438 non-null  int64
 3   revenue     102438 non-null  int64
 4   runtime     102438 non-null  int64
 5   budget      102438 non-null  int64
 6   popularity  102438 non-null  int64
dtypes: int64(7)
memory usage: 5.5 MB

In [23]:
# TO CSV
#movies_new_df.to_csv('movies_new_df.csv', index=False)

In [24]:
# Preprocessing: Checking for object dtypes to encode later
categorical_cols = movies_new_df.select_dtypes(include=['object']).columns
categorical_cols

Index([], dtype='object')

In [25]:
from sklearn.preprocessing import StandardScaler

# Selecting numerical columns
numerical_cols = movies_new_df.select_dtypes(include=['float64', 'int64']).columns

# Initializing StandardScaler
scaler = StandardScaler()

# Scaling numerical columns
data_scaled = movies_new_df.copy()
data_scaled[numerical_cols] = scaler.fit_transform(movies_new_df[numerical_cols])

data_scaled.head()

    movieId    imdbId  num_genres   revenue   runtime    budget  popularity
0 -0.549637 -0.384633    1.903898  0.775204 -1.394025 -0.211055    2.005971
1 -0.549581 -0.387002   -0.609319 -0.446348 -0.566900 -0.315998   -0.756530
2 -0.549497 -0.386923    0.228420 -0.007941  2.286678  0.418601    0.067764
3 -0.548349 -0.385177   -0.609319  0.521295  0.508361 -0.148089    1.404459
4 -0.548265 -0.384465    0.228420 -0.628671 -0.360119 -0.714780   -0.088183

In [19]:
from sklearn.model_selection import train_test_split

# Splitting Data for Training and Testing using target 'user_rating'
X = movies_new_df.drop('user_rating', axis=1)
y = movies_new_df['user_rating']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

KeyError: "['user_rating'] not found in axis"